hr {
    border-top: 2px dotted gray;
    margin: 20px;
}

/* For debugging */
.bordred {
    border-color: red; border-style: solid; border-width: 2px;
}

.bordteal {
    border-color: teal; border-style: solid; border-width: 2px;
}

.bordyellow {
    border-color: yellow; border-style: solid; border-width: 2px;
}

.bordgreen {
    border-color: greenyellow; border-style: solid; border-width: 2px;
}

.bordorange {
    border-color: orange; border-style: solid; border-width: 2px;
}
/* End debugging styles */ 

.amenfont {
    font-family: 'Palette Mosaic', cursive;
    font-size: 60px;
}

.cursivebig {
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 60px;
}

.cursivemassive {
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 80px;
}

.cursivesmall {
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 40px;
}

.footp {
    font-size: smaller;
    margin: 0px;
}

.fourohfour {
    color: pink;
    font-weight: bold;
}

.heroinit {
    background-color: #ffffff;
    background-image:url('./treetops.jpg');
    background-size: cover;
}

.idmcontainer {
    background-color: #ffffff;
    background-image:url('./glitchscreen.jpg');
    background-size: cover;
}

.amenseqcontainer {
    background-color: #000000;
    background-image: url('./cdj.jpg');
    background-size: cover;
}

.idmfont {
    font-family: 'Press Start 2P', cursive;
}

.manmod {
    width: 300px;
}

.pressed {
    opacity: .5;
}

.squirrout {
    height: 100px;
    width: 300px;
}