hr {
    border-top: 2px dotted gray;
    margin: 20px;
    /* width: 50%; */
}

.cursivebig {
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 60px;
}

.cursivemassive {
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 80px;
}

.cursivesmall {
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 40px;
}

.footp {
    font-size: smaller;
    margin: 0px;
}

.fourohfour {
    color: pink;
    font-weight: bold;
}

.heroinit {
    background-color: #ffffff;
    background-image:url('./fieldbgdark.jpg');
    background-size: cover;
}

.idmcontainer {
    background-color: #ffffff;
    background-image:url('./glitchscreen.jpg');
    background-size: cover;
}

.amenseqcontainer {
    background-color: #000000;
    background-image: url('./cdj.jpg');
    background-size: cover;
}

.idmfont {
    font-family: 'Press Start 2P', cursive;
}

.manmod {
    width: 300px;
}